/********************************************************************/
/*	Simple Announcement With Exclusion Styles for the options page 
	Version: 2.4                                                   */
/******************************************************************/
.SAWE_container {
	width: 450px;
	font-size: 15px;
	line-height: 17px;
}

input[type="text"], input[type="select"] {
	float: right;
}
input[type="text"]:hover, input[type="select"]:hover {
	cursor: pointer;
}

select {
	float: right;
}
label {
	display: block;
}

.SAWE_settings  {
	padding: 5px;
}

#information .navigation  {
	width: 100%;
	margin: 15px 0 15px 0;
}

.SAWE_container label {
	clear: both; 
	margin: 15px 0 15px 0;
	opacity: .7;
}
.SAWE_container label:hover {
	opacity: 1;
}

#preview {
	padding: 10px;
	border: 1px solid #bbbbbb;
}